p, ul ol {
  text-align: justify;
}

img{
    border: 2px solid black !important;
}

.figure{
    margin: 2em auto !important;
}

p.caption {
  color: #777;
  text-align: center;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin: 40px 0;
  border: 2px solid black;
  border-radius: 10px;
/*  background: #66b266 5px center/3em no-repeat; */
  background: #00e2ab 5px center/3em no-repeat;
}

.exclamacao{
    background-image: url("../img/circle-exclamation-solid.svg");
}
